/**
 * Title:
 *    Footer
 * Description:
 *    Used to define the sites main footer at the bottom of the page.
 *    Don't use this as a place to put generic <footer> tags.
 * Sections:
 *    $. Footer
 *    $. Copyright
 */



/* $. Footer
\*----------------------------------------------------------------*/

.footer {
    @extend %cf;
    padding: $base 0;
    background: $grey-lighter;
}

.footer__logo, .app-download {
	margin-right: $base/2;

	@include respond-min($bp2) {
        float: left;
        margin-right: $base;
	}
}

.footer {
	.link {
		color: $cranberry;

		&:hover, &:focus {
			color: darken($cranberry, 15%);
		}
	}
}


/* $. Copyright
\*----------------------------------------------------------------*/

// .copyright {
//     @extend %cf;
// }
