/**
 * Title:
 *    Header
 * Description:
 *    Header layout module, used to define the header at the top of each page.
 *    This could be used in combination with other components to create a
 *    fully-fledged design.
 * Sections:
 *    $. Base
 *    $. Logo
 *    $. Nav
 *    $. Toggle
 *    $. Search
 */



/* $. Base
\*----------------------------------------------------------------*/

.header {
    @extend %cf;
    position: relative;
    padding-top: $base/2;
    overflow-x: hidden;

    @include respond-min($bp2) {
        padding-top: 0;
    }

    @include respond-min($bp3) {
        overflow-x: visible;
    }
}

.header__container {
    position: relative;

    &:after {
        @include respond-min($bp2) {
            content: "";
            width: 400px;
            height: 310px;
            position: absolute;
            top: -175px;
            right: -90px;
            background: $cranberry;
            border-radius: 50%;
            z-index: -10;
        }

        @include respond-min($bp3) {
            right: -80px;
        }
    }
}


/* $. Logo
\*----------------------------------------------------------------*/

.header__logo {
	height: 100px;
	width: 100px;
    transition: all .6s ease;
    &:hover {
        transform: rotate(-360deg);
    }

	@include respond-min($bp2) {
		height: 120px;
        width: 120px;
        float: left;
        margin-top: $base;
	}
}


/* $. Nav
\*----------------------------------------------------------------*/

.header__nav {
    display: none;

    @include respond-min($bp2) {
        display:block;
    }

    .is-active-nav & {
        display: block;
    }
}



/* $. Toggle
\*----------------------------------------------------------------*/

.header__toggle {
    display: block;
    float: right;
    margin-top: $base;
    padding: 0.75em 0em 0.5em 1em;

    @include respond-min($bp2) {
        display: none;
    }
}

.is-active-nav .header__toggle--nav,
.is-active-search .header__toggle--search {
}




/* $. Search
\*----------------------------------------------------------------*/

.header__search {
    .is-active-search & {
    }
}
