/**
 * Title:
 *    Sidebar
 * Description:
 *    Used to display the Sidebar's styling on pages or posts
 *    which have one.
 * Sections:
 *    $. Base
 */



/* $. Base
\*----------------------------------------------------------------*/

.sidebar {
}

.sidebar--contact {
	margin-top: $base;

	@include respond-min($bp2) {
		margin-top: 0;
	}
}

.sidebar--share {
	margin-top: $base*2;
	margin-bottom: $base;

	@include respond-min($bp2) {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: $base*2;
	}
}


/* $. Elements
\*----------------------------------------------------------------*/

.sidebar__section {
    @extend .panel;
    @extend .panel--grey;
}

.sidebar__heading {
}

.sidebar__list {
}
