/**
 * Title:
 *    Navigation
 * Description:
 *    The .nav module and its extensions
 * Sections:
 *    $. Variables
 *    $. Container
 *    $. Component
 *    $. Primary
 *    $. Secondary
 *    $. Tertiary
 */



/* $. Variables
\*----------------------------------------------------------------*/

$color-nav: $color-link;



/* $. Container
\*----------------------------------------------------------------*/

.nav-container {
	@include respond-min($bp2) {
		padding-top: $base;
	}
}



/* $. Component
\*----------------------------------------------------------------*/

.nav {
    @extend %cf;
    @extend %list--unset;

    @include respond-min($bp2) {
    	float: right;
    	clear: right;
    }
}

.nav__item {
	position: relative;
	padding: $base/2 0;
	margin-bottom: 0;
	text-align: right;
	text-transform: lowercase;
	text-decoration: none;
	border-bottom: 1px solid $grey-lighter;

	@include respond-min($bp2) {
		display: inline-block;
		padding: 0;
		margin-left: $base;
		border: none;
	}
}

.nav__item:before {
	@include respond-min($bp2) {
		content: "";
		width: 0;
		height: 2px;
		position: absolute;
		bottom: 0px;
		background: $white;
		transition-duration: 0.3s;
	}
}

.nav__item:hover:before, .is-current:before {
	@include respond-min($bp2) {
		width: 50%;
	    background: $white;
	}
}

.nav__link {
	color: $color-text;

	@include respond-min($bp2) {
		color: $white;
	}
}



/* $. Primary
\*----------------------------------------------------------------*/

.nav--primary {
	font-size: 1.35rem;
	font-weight: 350;
}



/* $. Secondary
\*----------------------------------------------------------------*/

.nav--secondary {
	font-size: 1rem;

	@include respond-min($bp2) {
		margin-bottom: $base/2;
	}
}



/* $. Tertiary
\*----------------------------------------------------------------*/

.nav--tertiary {
}
