/* Features area wrap
\*----------------------------------------------------------------*/

.features {
    @include respond-min($bp4) {
        margin-top: $base*4;
    }
}

.feature__wrap {
    margin-bottom: $base*2;
}

/* Odd feature (the middle one)
\*----------------------------------------------------------------*/

.feature__odd {
    @include respond-min($bp2) {
        &:after {
            left: 20px;
            bottom: 225px;
            transform: rotate(-170deg);
            background-image: url('../img/arrow-right.svg');
        }
    }
}

/* Even feature (the first and second)
\*----------------------------------------------------------------*/

.feature__even {
    @include respond-min($bp2) {
        &:after {
            right: 20px;
            bottom: 225px;
            transform: rotate(170deg);
            background-image: url('../img/arrow-left.svg');
        }
    }
}

/* Text side
\*----------------------------------------------------------------*/

.feature-text__container {
    width: 100%;
    position: relative;

    @include respond-min($bp3) {
        min-height: 430px;
    }
}

.feature__text {
    width: 100%;
    font-size: 1.15rem;

    @include respond-min($bp3) {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: $base*2;

        &:after {
            content: "";
            position: absolute;
            width: 325px;
            height: 100px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

/* Image side
\*----------------------------------------------------------------*/

.feature-image__wrap {
    display: none;
    @include respond-min($bp2) {
        display: inline-block;
    }
}

.feature__image {
    @include respond-min($bp2) {
        width: 50%;
        position: relative;
        margin: 0 auto;
        margin-bottom: $base*3;
    }
}

/* Backgrounds of mobile phones
\*----------------------------------------------------------------*/

.feature__background {
    @include respond-min($bp2) {
        position: absolute;
        width: 175%;
        height: 175%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.feature__background--1 {
    @include respond-min($bp2) {
        background-image: url('../img/background-1.svg');
    }
}

.feature__background--2 {
    @include respond-min($bp2) {
        background-image: url('../img/background-2.svg');
    }
}

.feature__background--3 {
    @include respond-min($bp2) {
        background-image: url('../img/background-3.svg');
    }
}
