/* Hero setup
\*----------------------------------------------------------------*/
.hero {
    position: relative;

    @include respond-min($bp2) {
        margin-top: $base*6;
        margin-bottom: $base*8;

        &:before, &:after {
            content: "";
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
        }

        &:before {
            width: 400px;
            height: 400px;
            left: 50%;
            top: 50%;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            background-size: cover;
            background-image: url('../img/dotted-circle.svg');
            opacity: .2;
        }
    }

    @include respond-min($bp3) {
        margin-bottom: $base*8;
    }
}

.hero__headline {
    @include respond-min($bp2) {
        position: relative;
    }
}

.hero__excerpt {
    @include respond-min($bp2) {
        padding: 0 $base*6;
    }
}

.hero__text {
    text-align: left;

    h1 {
        font-size: 3rem;
        font-weight: $weight-normal;
    }

    @include respond-min($bp2) {
        text-align: center;

        h1 {
            font-size: 4rem;
        }
    }

    @include respond-min($bp3) {
        &:before, &:after {
            content: "";
            position: absolute;
            width: 300px;
            height: 100px;
            background-size: contain;
            background-repeat: no-repeat;
        }

        &:before {
            background-image: url('../img/arrow-left.svg');
            top: -125px;
            right: 150px;
            transform: rotate(180deg);
        }
        &:after {
            left: 150px;
            bottom: -125px;
            background-image: url('../img/arrow-left.svg');
        }
    }
}

.hero__image {
    margin-top: $base*2;
    width: 50%;

    img {
        width: 100%;
        height: auto;
    }

    @include respond-min($bp2) {
        width: 25%;
        float: right;
        margin-top: 0;
        text-align: right;
    }
}


/* Hero modifications
\*----------------------------------------------------------------*/

.hero--home {

    @include respond-min($bp2) {
        margin-top: $base*2;
        margin-bottom: $base*6;

        &:before {
            width: 450px;
            height: 450px;
            left: 45%;
            top: 0px;
            border-radius: 50%;
            transform: translateX(-45%);
            background-size: cover;
            background-image: url('../img/dotted-circle.svg');
            opacity: .2;
        }

        &:after {
            width: 250px;
            height: 150px;
            left: 55%;
            top: 225px;
            transform: translateX(-60%);
            background-size: contain;
            background-image: url('../img/arrow-right.svg');
        }

        .hero__text {
            position: relative;
            width: 60%;
            float: left;
            text-align: left;

            &:before, &:after {
                display: none;
            }
        }

        .hero__excerpt {
            padding: 0;
            font-size: 1.25rem;
        }
    }

    @include respond-min($bp3) {
        &:after {
            width: 300px;
            height: 200px;
            left: 60%;
        }
    }

}
